.example-card {
  max-width: 400px;
}
h1{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.homeCardTitle
{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
